[include]
  path = ~/.git-alias
[user]
  name = scogliani
  email = simon.cogliani@gmail.com
[color]
  ui = auto
[core]
  editor = vim
[credential]
	helper = cache --timeout 30000
[push]
  default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
